[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Algorithms in python
[access "refs/*"]
	owner = group user/Yurii Barninets (YuriiBarninets)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Yurii Barninets (YuriiBarninets)
	label-Verified = -1..+1 group user/Yurii Barninets (YuriiBarninets)
	push = group user/Yurii Barninets (YuriiBarninets)
	read = group user/Yurii Barninets (YuriiBarninets)
	rebase = group user/Yurii Barninets (YuriiBarninets)
	removeReviewer = group user/Yurii Barninets (YuriiBarninets)
	submit = group user/Yurii Barninets (YuriiBarninets)
[access "refs/heads/*"]
	create = group user/Yurii Barninets (YuriiBarninets)
	push = +force group user/Yurii Barninets (YuriiBarninets)
	pushMerge = group user/Yurii Barninets (YuriiBarninets)
	read = group user/Yurii Barninets (YuriiBarninets)
[access "refs/tags/*"]
	push = group user/Yurii Barninets (YuriiBarninets)
	push = +force group user/Yurii Barninets (YuriiBarninets)
